In [ ]:
import pandas as pd
#DataFrame (pd.DataFrame(dictionary or 2d_list,columns=list(optional))) and Series (pd.Series(list)) are the two main classes in pandas

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
print(pd.DataFrame(data))

data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']]
print(pd.DataFrame(data,columns=["name","age","location"]))

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
      name  age     location
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [3]:
print(pd.Series([1,2,3,4]))
print()
print(pd.Series({
    "a":1, "b":2, "c":3
}))
print()
print(pd.Series([1,2,3,4,5],index=[5,4,3,2,1]))

0    1
1    2
2    3
3    4
dtype: int64

a    1
b    2
c    3
dtype: int64

5    1
4    2
3    3
2    4
1    5
dtype: int64

In [4]:
import numpy as np
import string
arr=np.random.randint(0,26,(100,26))
df=pd.DataFrame(arr, columns=list(string.ascii_lowercase))

df.to_csv("random_data.csv", index=False)
df.to_excel("random_data.xlsx",index=False)

In [5]:
new_df=pd.read_csv("random_data.csv")
new_df_from_xlsx=pd.read_excel("random_data.xlsx")
# print(new_df)
# print(new_df_from_xlsx)

In [6]:
li=[
   [1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]
]
print(li[1][1])

7

In [7]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
})
print(df.head(3))
print(df.tail(3))

x=df['Name']
y=df[["Name","Age"]]

print(df["Name"])#it returns the pandas series
print(df[['Name','Age']])#it returns the pandas DataFrame therefore 2d list

df['sample_val']=[1,2,3]
print(df)
df.drop(columns=['sample_val'])

print()
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
      Name  Age         City  sample_val
0    Alice   25     New York           1
1      Bob   30  Los Angeles           2
2  Charlie   35      Chicago           3

      Name  Age         City  sample_val
0    Alice   25     New York           1
1      Bob   30  Los Angeles           2
2  Charlie   35      Chicago           3

In [8]:
#Handling missing data
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, np.nan, 35],#[nan] means not a number
    'City': ['New York', 'Los Angeles', np.nan]
})

# Fill missing values
df['Age'] = df['Age'].fillna(df['Age'].mean())#[na] means not avilable
df['City'] = df['City'].fillna('Unknown')
print(df)

# Drop rows with missing values
df = df.dropna()
print(df)

      Name   Age         City
0    Alice  25.0     New York
1      Bob  30.0  Los Angeles
2  Charlie  35.0      Unknown
      Name   Age         City
0    Alice  25.0     New York
1      Bob  30.0  Los Angeles
2  Charlie  35.0      Unknown